* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* swiper */
swiper-container {
  width: 180px;
  height: 260px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide:nth-child(1n) {
  background: url(https://images.unsplash.com/photo-1531778272849-d1dd22444c06?q=80&w=1960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(2n) {
  background: url(https://i.pinimg.com/564x/aa/47/a4/aa47a4a8300fb60df71f85932327a5ba.jpg);
  background-size: cover;
}

swiper-slide:nth-child(3n) {
  background: url(https://i.pinimg.com/564x/a1/90/14/a19014288a4a50c641bcebc1db8f356c.jpg);
  background-size: cover;
}

swiper-slide:nth-child(4n) {
  background: url(https://images.unsplash.com/photo-1575573330964-db3dad170190?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(5n) {
  background: url(https://i.pinimg.com/564x/2a/4a/67/2a4a676e56cb704a19ca3eee357c30df.jpg);
  background-size: cover;
}

swiper-slide:nth-child(6n) {
  background: url(https://i.pinimg.com/564x/e1/65/6f/e1656f289dc3f1bb30485370494f9e94.jpg);
  background-size: cover;
}

/* End Of Swiper */

/* Navbar Style*/
.navbar-brand span {
  color: blue;
}
/* End Of Navbar Style */

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #222831;
  color: #eeeeee;
}

.footer span {
  color: #eeeeee;
}

.content-footer {
  padding: 0.5rem;
}

.content-footer .text-p {
  font-size: small;
}

.copyright {
  padding-top: 0.5rem;
  border-top: 2px solid #eeeeee;
}

.copyright a {
  text-decoration: none;
  color: whitesmoke;
}

.copyright a:hover {
  color: #eeeeee;
}
