* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* swiper */
swiper-container {
  width: 160px;
  height: 240px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide:nth-child(1n) {
  background: url(https://i.pinimg.com/564x/ae/2b/7b/ae2b7b597f1eced74bf70ed54c943687.jpg);
  background-size: cover;
}

swiper-slide:nth-child(2n) {
  background: url(https://images.unsplash.com/photo-1553902000-e036b7d05af5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

swiper-slide:nth-child(3n) {
  background: url(https://images.unsplash.com/photo-1628520084542-1cba4a92f1e9?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(4n) {
  background: url(https://i.pinimg.com/564x/a7/ae/48/a7ae48ef744f53cda030e2b8e8f30e0f.jpg);
  background-size: cover;
}

swiper-slide:nth-child(5n) {
  background: url(https://i.pinimg.com/564x/c7/f6/6a/c7f66ab03bbd5f298897353192c5159f.jpg);
  background-size: cover;
}

swiper-slide:nth-child(6n) {
  background: url(https://i.pinimg.com/564x/bc/94/56/bc945693faf14b367f94098084452bae.jpg);
  background-size: cover;
}

/* End Of Swiper */

/* Navbar Style*/
.navbar-brand span {
  color: blue;
}
/* End Of Navbar Style */

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #222831;
  color: #eeeeee;
}

.footer span {
  color: #eeeeee;
}

.content-footer {
  padding: 0.5rem;
}

.content-footer .text-p {
  font-size: small;
}

.copyright {
  padding-top: 0.5rem;
  border-top: 2px solid #eeeeee;
}

.copyright a {
  text-decoration: none;
  color: whitesmoke;
}

.copyright a:hover {
  color: #eeeeee;
}
