* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* swiper */
swiper-container {
  width: 200px;
  height: 280px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide:nth-child(1n) {
  background: url(https://images.unsplash.com/photo-1692461424715-c21217a0b81b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(2n) {
  background: url(https://images.unsplash.com/photo-1695376420877-5cef80adbdc0?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(3n) {
  background: url(https://images.unsplash.com/photo-1575073661283-6d7442a977b3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(4n) {
  background: url(https://images.unsplash.com/photo-1637477157412-38e42ff282e5?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

swiper-slide:nth-child(5n) {
  background: url(https://images.unsplash.com/photo-1678704545122-ae40f39f8ed1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

swiper-slide:nth-child(6n) {
  background: url(https://images.unsplash.com/photo-1604842937449-1e039c5326c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

/* End Of Swiper */

/* Navbar Style*/
.navbar-brand span {
  color: blue;
}
/* End Of Navbar Style */

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #222831;
  color: #eeeeee;
}

.footer span {
  color: #eeeeee;
}

.content-footer {
  padding: 0.5rem;
}

.content-footer .text-p {
  font-size: small;
}

.copyright {
  padding-top: 0.5rem;
  border-top: 2px solid #eeeeee;
}

.copyright a {
  text-decoration: none;
  color: whitesmoke;
}

.copyright a:hover {
  color: #eeeeee;
}
